.App{
  font-family: Arial, Helvetica, sans-serif;
}

.home-page{
  display: flex;
  flex-direction: column;

}

.home-link{
  display: flex;
  flex-direction: column;
}

.header{
  background-color: black;
}
.header img{
  border: 10px solid black;
  width: 10%;
  display: block;
  margin: 0 auto;
}
.beer-list img{
  width: 15%;
}


